<p style="color: green"><%= notice %></p>

<div class="jumbotron">
  <h1 class="display-4"><%= @friend.first_name %>
                        <%= @friend.last_name %></h1>

  <p class="lead"> <%= @friend.email %>
                  <%= @friend.phone %>
    
  </p>
  <hr class="my-4">
  <p class="display-5"> Social Media </p>
  <p> 
      twitter: @<%= link_to @friend.twitter  , 'https://twitter.com/@friend.twitter'%>
  </p>
  
  <p>
      instagram: @<%= link_to @friend.instagram, 'https://www.instagram.com/@friend.instagram/'%>
  </p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<%= render @friend %>

<div>
  <%= link_to "Edit this friend", edit_friend_path(@friend) %> |
  <%= link_to "Back to friends", friends_path %>

  <%= button_to "Destroy this friend", @friend, method: :delete %>
</div>
